<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
    <title>Matt East</title>
</head>
<body>
    <div class="button-container">
        <h1>Organiser</h1>
        <form action="/organise" method="post">
            <button type="submit" class="btn">Organise Downloads</button>
        </form>
        <form action="/organise" method="post">
            <button type="submit" class="btn">Organise Screenshots</button>
        </form>
        </div>
    </div>
</body>
</html>