<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
    <title>Matt East</title>
</head>
<body>
    <div>
    <div class="heading-container">
        <h1>Mac Organiser &#9989;</h1>
    </div class="parent-container">
    <br>
    <p>Organise Downloads: Organise your downloads into specific folders.</p>
    <br>
    <p>Organise Screenshots: Type what project you are working on, and organise your screenshots from your desktop to specific dated sup folders.</p>
    <br>
    <div class="button-container">
        <form action="/organise" method="post">
            <button type="submit" class="btn">Organise Downloads</button>
        </form>
        <br>
        <form action="/screenshot" method="post">
            <label for="project_name">Project Name</label>
            <input type="text" id="project_name" name="project_name" required>
            <button type="submit" class="btn">Organise Screenshots</button>
        </form>
        </div>
    </div>
    </div>
</body>
</html>