<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
    <title>Matt East</title>
</head>
<body>
    <div>
    <div class="heading-container">
        <h1>Mac Organiser &#9989;</h1>
    </div class="parent-container">
    <div class="button-container">
        <form action="/organise" method="post">
            <button type="submit" class="btn">Organise Downloads</button>
        </form>
        <br>
        <form action="/organise" method="post">
            <button type="submit" class="btn">Organise Screenshots</button>
        </form>
        </div>
        <form>
            <br>
            <lable for="fname">Project Name</lable>
            <input type="text" id="fname" name="fname"><br><br>
        </form>
    </div>
    </div>
</body>
</html>